@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
canvas:focus{outline:none;}
html,body{ 
	width:100%;
	height:100%;
	background:#111;
	background-attachment: fixed;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

body{
  font-family: 'Iceland', cursive;
  border-collapse: collapse;
  padding: 0; 
  margin: 0;
  background-attachment: fixed;
}

canvas{
  display:block;
  vertical-align:top;
  background-attachment: fixed;
}



#particles-js{
  width: 100%;
  height: 100%;
  position:fixed;
  background-color: #000000;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.leaderboard {
  font-family: 'Iceland', cursive;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 440px;
  height: 1490px;
  background: linear-gradient(to bottom, #3a404d, #181c26);
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(57, 255, 20, 0.3);
}

.leaderboard h1 {
  font-size: 35px;
  color: #39ff14;
  padding: 12px 13px 18px;
}

.leaderboard ol {
  counter-reset: leaderboard;
  color: #39ff14;
  padding: 18px 10px 18px 50px;
}

.leaderboard ol li {
  position: relative;
  z-index: 1;
  font-size: 29px;
  counter-increment: leaderboard;
  padding: 18px 10px 18px 50px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
  color: #39ff14;

}
.leaderboard ol li:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 0.1px solid;
  margin-top: 1px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.leaderboard ol li:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.leaderboard ol li mark {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 18px 10px 18px 50px;
  margin: 0;
  background: none;
  color: #39ff14;
}

.leaderboard ol li small {
  position: relative;
  z-index: 2;
  display: block;
  text-align: right;
  color: #39ff14;
}

.leaderboard ul {
  counter-reset: leaderboard;
  color: #fff;
  font-size: 16px;
}
.leaderboard ul li {
  position: relative;
  z-index: 1;
  font-size: 24px;
  counter-increment: leaderboard;
  padding: 18px 10px 18px 50px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
}

.leaderboard ul li mark {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 18px 10px 18px 50px;
  margin: 0;
  background: none;
  color: #fff;
}
.leaderboard ul li small {
  position: relative;
  z-index: 2;
  display: block;
  text-align: right;
  color: #fff;
}
.the-most {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 50vw;
  max-width: 200px;
  padding: 0px;
}
.the-most img {
  max-width: 100%;
}
